<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head" ></head>
    <!-- INICIO -->
    <body>
        
        <header th:replace= "/fragments/header :: header" ></header>
        <div class="main">
            <div th:replace="/fragments/cartel :: div"></div>
            <div class="body">
                <div class="body_resize">
                    <div class="left" th:each="posteo : ${posteos}">
                        <div class="resize_bg">
                            <h2 th:text="${posteo.titulo}">
                                <span th:text="${posteo.titulo}"></span>
                            </h2>
                            <img th:src="@{'data:image/jpeg;base64,'+${posteo.imagen}}" alt="" width="615" height="400" />
                            <div class="clr"></div>
                            <p th:text="${posteo.cuerpo}" >
                            </p>
                            <p><a th:href="@{/posteos/detalle/} + ${posteo.id}">Ver</a></p>
                            <h2>&nbsp;</h2>
                        </div>
                    </div>
                    <div class="right">
                        <div class="resize_bg">
                            <h2>Mejores de la semana:</h2>
                            <ul class="sponsors">
                                <li class="sponsors">
                                    <a href="#">Lorem ipsum dolor</a>
                                    <br />
                                    Donec libero. Suspendisse bibendum
                                </li>
                                <li class="sponsors">
                                    <a href="#">Donec mattis</a>
                                    <br />
                                    Phasellus suscipit, leo a pharetra
                                </li>
                                <li class="sponsors">
                                    <a href="#">Dui pede condimentum</a>
                                    <br />
                                    Tellus eleifend magna eget
                                </li>
                                <li class="sponsors">
                                    <a href="#">Condimentum lorem</a>
                                    <br />
                                    Curabitur vel urna in tristique
                                </li>
                                <li class="sponsors">
                                    <a href="#">Fringilla velit magna</a>
                                    <br />
                                    Cras id urna orbi tincidunt orci ac
                                </li>
                                <li class="sponsors">
                                    <a href="#">Suspendisse bibendum</a>
                                    <br />
                                    purus nec placerat bibendum
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>

        </div>
    </body>
</html>

