<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>AppReCC</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link href="/css/Style.css" rel="stylesheet" type="text/css" />

    </head>
    <!-- INICIO -->
    <body>
        <div class="main">
            <div class="header">
                <div class="header_resize">
                    <div class="logo">
                        <h1>
                            <a href="index.html">
                                <span>AppReCC</span>
                                Egg
                                <small>Vive mejor</small>
                            </a>
                        </h1>
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a href="index.html" class="active">Inicio</a></li>
                            <li><a href="services.html">Perfil</a></li>
                            <li><a href="about.html">Nosotros</a></li>
                            <li><a href="contact.html">Publicar</a></li>
                            <li><a href="">Ingresar</a></li>
                        </ul>
                    </div>
                    <div class="clr"></div>
                </div>
                <div class="headert_text_resize">
                    <div class="headert_text">
                        <h2></h2>
                        <p>
                            "No podemos darnos el lujo de la indecisión, las medidas a medias
                            o los enfoques graduales. Nuestra meta debe ser una
                            transformación"
                        </p>
                        <p>Si amas la tierra, recicla y conserva!</p>
                    </div>
                    <img src="" alt="" width="455" height="273" />
                    <div class="clr"></div>
                </div>
            </div>

            <div class="body">
                <div class="body_resize">
                    <div class="left">
                        <div class="resize_bg">
                            <h2>
                                Aliquam Risus
                                <span>Justo</span>
                            </h2>
                            <img src="images/img_1.jpg" alt="" width="615" height="156" />
                            <div class="clr"></div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                                sit amet nisi erat, vitae aliquam lorem. Nulla at sapien sed
                                diam semper eleifend vitae at mi. Suspendisse placerat, nisl
                                cursus pellentesque aliquet, velit lorem commodo erat, vitae
                                pellentesque leo urna sed lacus. Vestibulum pharetra, augue sit
                                amet malesuada tincidunt, diam risus pharetra sem, id vestibulum
                                ante metus in elit. Praesent ut urna neque, quis vehicula urna.
                                Pellentesque habitant morbi tristique senectus et netus et
                                malesuada fames ac turpis egestas. Donec tristique sem non nisi
                                malesuada egestas. Vestibulum vel est neque, nec tempus odio.
                            </p>
                            <p><a href="#">testimonios</a></p>
                            <h2>&nbsp;</h2>
                        </div>
                    </div>
                    <div class="right">
                        <div class="resize_bg">
                            <h2>
                                <span>Menu</span>
                            </h2>
                            <ul>
                                <li><a href="#">Inicio</a></li>
                                <li><a href="#">Perfil</a></li>
                                <li><a href="#">Nosotros</a></li>
                                <li><a href="#">Contacto</a></li>
                            </ul>
                        </div>
                        <div class="resize_bg">
                            <h2>Mejores de la semana:</h2>
                            <ul class="sponsors">
                                <li class="sponsors">
                                    <a href="#">Lorem ipsum dolor</a>
                                    <br />
                                    Donec libero. Suspendisse bibendum
                                </li>
                                <li class="sponsors">
                                    <a href="#">Donec mattis</a>
                                    <br />
                                    Phasellus suscipit, leo a pharetra
                                </li>
                                <li class="sponsors">
                                    <a href="#">Dui pede condimentum</a>
                                    <br />
                                    Tellus eleifend magna eget
                                </li>
                                <li class="sponsors">
                                    <a href="#">Condimentum lorem</a>
                                    <br />
                                    Curabitur vel urna in tristique
                                </li>
                                <li class="sponsors">
                                    <a href="#">Fringilla velit magna</a>
                                    <br />
                                    Cras id urna orbi tincidunt orci ac
                                </li>
                                <li class="sponsors">
                                    <a href="#">Suspendisse bibendum</a>
                                    <br />
                                    purus nec placerat bibendum
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>

        </div>
    </body>
    <script type="text/javascript" src="js/cufon-yui.js"></script>
    <script type="text/javascript" src="js/arial.js"></script>
    <script type="text/javascript" src="js/cuf_run.js"></script>
</html>

