<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head" ></head>
    <!-- NOSOTROS -->
    <body>
        <header th:replace= "/fragments/header :: header" ></header>
        <div class="main">
            <div th:replace="/fragments/cartel :: div"></div>
            <div class="body">
                <div class="body_resize">
                    <div class="left">
                        <div class="resize_bg">
                            <h2>
                                ¿Quienes somos?
                            </h2>
                            <input type="checkbox" class="read-more-state" id="post-1" />

                            <p class="read-more-wrap">
                                Hoy en día es difícil negar que sentimos y sufrimos el cambio
                                climático en nuestra vida diaria en mayor o menor medida. Olas de
                                frío y calor, tormentas extremas, sequías, inundaciones,
                                incendios, plagas, desertificación, pérdida de bosques, etc. ¿Por
                                qué sucede y que debería suceder para evitar que la situación se
                                agrave? Los principales riesgos para América Central y del Sur son
                                la falta de acceso al agua potable, efectos sanitarios graves
                                (debido al aumento de las epidemias), la degradación de los
                                ecosistemas de los arrecifes de coral (debido al blanqueamiento de
                                los corales), sequías frecuentes y/o extremas que pondrán en
                                peligro la seguridad alimentaria y las inundaciones, los
                                corrimientos de tierra, la subida del nivel del mar, las mareas de
                                tempestad y la erosión costera que puede generar daños severos a
                                la vida y a medios de subsistencia. Aunque parezca un escenario de
                                película apocalíptica en nuestro país ya estamos sufriendo los
                                impactos, las pérdidas y los daños que exponen los informes
                                internacionales. Incendios e inundaciones: La crisis climática ya
                                es una realidad en Argentina y la sequía es uno de sus impactos
                                más palpables y, junto al fenómeno de La Niña aumentan las
                                condiciones para que sucedan eventos climáticos cada vez más
                                graves. 2021 fue el año más caliente y seco en Argentina desde
                                1961: cuatro olas de calor afectaron al centro y sur de Argentina,
                                y produjeron récords históricos de temperaturas máximas que
                                alimentaron grandes incendios en la Patagonia ampliando en
                                duración y extensión incendios para cambiar el uso del suelo. La
                                falta de lluvias y condiciones de sequía extrema continuaron
                                durante el 2021 en el norte del Litoral y la cuenca del río
                                Paraná, luego de un 2020 extremadamente seco. El río Paraná
                                experimentó una bajante histórica sin precedentes desde 1944. Por
                                todo ello es hora de que la destrucción de ecosistemas clave como
                                son los humedales y los bosques sea entendida como lo que es, un
                                ecocidio y, por lo tanto, considerados como un delito penal.
                                Avance de la deforestación: Los bosques y sus suelos almacenan más
                                carbono que cualquier otro ecosistema terrestre y juegan un papel
                                vital en la mitigación de la inestabilidad del clima.
                                <span class="read-more-target">
                                    Manteniendo los bosques intactos, es decir como extensiones
                                    ininterrumpidas de paisaje forestal, aumenta su capacidad de
                                    recuperación frente al cambio climático. En Argentina, la región
                                    del Gran Chaco, es una de las más amenazadas por la
                                    deforestación y la degradación, es la que mantiene el 50% del
                                    contenido de CO2 de los bosques de Argentina. Según resultados
                                    del segundo Informe Bienal de Actualización (BUR), el sector
                                    Bosques fue responsable de la emisión de 57,4 MtCO2eq en 2014,
                                    lo que representa el 15,6% de la emisión total de gases de
                                    efecto invernadero (GEI) de la Argentina de ese año. Las
                                    principales causas de la pérdida de bosques son el avance de la
                                    frontera agropecuaria (ganadería y soja transgénica) y los
                                    incendios. Justamente estos sectores Agricultura, Ganadería,
                                    Silvicultura y otros Usos de la Tierra representaron el 39% de
                                    las emisiones de Gases de Efecto Invernadero (GEI) de Argentina
                                    en 2017. Explotación en el mar: Los océanos también son
                                    reguladores de la temperatura terrestre: sin ellos, la
                                    temperatura rondaría los 36°C por encima de los valores
                                    diarios.Aportan entre el 50% y 80% del oxígeno que se libera a
                                    la atmósfera. A su vez, cumplen un rol fundamental al capturar
                                    entre el 20% y 30% del carbono procedente de las emisiones de
                                    gases de efecto invernadero y lo almacenan en el fondo marino.
                                    De esa manera, contribuyen a la mitigación del cambio climático.
                                    En nuestro país, la acción climática es insuficiente, y además
                                    continúa la promoción y expansión de la producción de
                                    hidrocarburos en el mar argentino durante las próximas tres
                                    décadas con los objetivos paradójicos de agilizar la transición
                                    hacia energías renovables. Esto sucede aún cuando el IPCC
                                    determinó que no se pueden abrir nuevas fronteras de explotación
                                    petrolera en ninguna parte del mundo si queremos cumplir con los
                                    objetivos climáticos de limitar la temperatura global al 1.5C°.
                                    Nuestro objetivo es informar y conectar a las personas con
                                    temáticas de relevancia social, como el reciclaje, salud física
                                    y mental, seguridad social, entre otros, a través de información
                                    real y respaldada, sin sesgo político, religioso o de cualquier
                                    otra índole. Así, lograr transformaciones que mejoren la vida de
                                    las personas, mediante el aumento progresivo de la participación
                                    ciudadana, buscando el bien común y la paz social.
                                </span>
                            </p>
                            <label for="post-1" class="read-more-trigger"></label>
                            <h2>&nbsp;</h2>
                        </div>
                    </div>
                    <div class="right">
                        <div class="resize_bg">
                            <h2>Contactanos!</h2>
                            <ul class="sponsors">
                                <li class="sponsors"><a href="#">guztorti@gmail.com</a><br />
                                    Gustavo Torti</li>
                                <li class="sponsors"><a href="#">thomycalvente@gmail.com</a><br />
                                    Thomas Calvente</li>
                                <li class="sponsors"><a href="#">romano.ml.78@gmail.com</a><br />
                                    Laura Romano</li>
                                <li class="sponsors"><a href="#">ygbg.0511@gmail.com</a><br />
                                    Ysaac Briceño</li>
                                <li class="sponsors"><a href="#">reartes17diego@gmail.com</a><br />
                                    Diego Reartes</li>
                                <li class="sponsors"><a href="#">jpmolfesa@gmail.com</a><br />
                                    Juan Pablo Molfesa</li>
                                <li class="sponsors"><a href="#">torresmarina983@gmail.com</a><br />
                                    Marina Torres</li>
                            </ul>
                        </div>
                    </div>

                    <div class="clr"></div>
                </div>
            </div>

        </div>
        <footer th:replace="/fragments/footer :: div"></footer>
    </body>
</html>
