<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>AppReCC | About</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/cufon-yui.js"></script>
    <script type="text/javascript" src="js/arial.js"></script>
    <script type="text/javascript" src="js/cuf_run.js"></script>
  </head>
  <!-- NOSOTROS -->
  <body>
    <div class="main">
      <div class="header">
        <div class="header_resize">
          <div class="logo">
            <h1>
              <a href="index.html">
                <span>AppReCC</span>
                Egg
                <small>Vive mejor</small>
              </a>
            </h1>
          </div>
          <div class="menu">
            <ul>
              <li><a href="index.html">Inicio</a></li>
              <li><a href="services.html">Perfil</a></li>
              <li><a href="about.html" class="active">Nosotros</a></li>
              <li><a href="contact.html">Publicar</a></li>
              <li><a href="">Ingresar</a></li>
            </ul>
          </div>
          <div class="clr"></div>
        </div>
        <div class="headert_text_resize">
          <div class="headert_text">
            <h2></h2>
            <p>
              "No podemos darnos el lujo de la indecisión, las medidas a medias
              o los enfoques graduales. Nuestra meta debe ser una
              transformación"
            </p>
            <p>Si amas la tierra, recicla y conserva!</p>
          </div>

          <img src="" alt="" width="455" height="273" />
          <div class="clr"></div>
        </div>
      </div>

      <div class="body">
        <div class="body_resize">
          <div class="left">
            <div class="resize_bg">
              <h2>
                ¿Quienes somos?
              </h2>
              <p>
                Somos una comunidad ambientalista que se concentra en aquellos
                movimientos sociales y comunitarios cuya causa principal es la
                protección y preservación del medio ambiente. Este tipo de
                movimientos suelen ser denominados también como
                conservacionismo, política verde o ecologismo. Este último
                término, sin embargo, no debe ser confundido con la palabra
                ecología, que significa ‘ciencia que estudia el medio ambiente’.
                El ambientalismo ha ido creciendo en la medida en que ha crecido
                el parque industrial, especialmente a partir de la segunda mitad
                del siglo XX. Ha alcanzado su punto álgido desde los años 70, en
                pleno contexto de la crisis del petróleo, cuando se pusieron de
                manifiesto las contradicciones entre el modelo del desarrollo y
                la sustentabilidad del estilo de vida contemporáneo. Uno de los
                temas que más preocupa a los ambientalistas de la actualidad es
                el fenómeno del calentamiento global.
                <br />
                Objetivos del ambientalismo en términos generales, los
                movimientos ambientalistas o el ambientalismo se propone:
                Preservar el medio ambiente; Prevenir la extinción de especies
                animales y vegetales; Combatir la destrucción del medio
                ambiente; Crear conciencia en la población sobre la
                responsabilidad humana en las alteraciones del ecosistema.
              </p>
              <h2>&nbsp;</h2>
            </div>
          </div>
          <div class="right">
            <div class="resize_bg">
              <h2>Nuestra Mision:</h2>
              <p>
                Informar y conectar a las personas con temáticas de relevancia
                social, como el reciclaje, salud física y mental, seguridad
                social, entre otros, a través de información real y respaldada,
                sin sesgo político, religioso o de cualquier otra índole. Así,
                lograr transformaciones que mejoren la vida de las personas,
                mediante el aumento progresivo de la participación ciudadana,
                buscando el bien común y la paz social.
                <br />
                <br />
                <br />
              </p>
            </div>
          </div>
          <div class="clr"></div>
        </div>
      </div>
      
    </div>
  </body>
</html>
