<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head" ></head>
    <!-- PUBLICAR -->
    <body>
        <header th:replace= "/fragments/header :: header" ></header>
        <div class="main">
            <div th:replace="/fragments/cartel :: div"></div>
            <div class="body">
                <div class="body_resize">
                    <div class="left">
                        <div class="resize_bg">
                            <h2>Publique su nueva Compania:</h2>
                            <p>
                                Una campaña es un conjunto de actividades o de trabajos que se
                                realizan en un período de tiempo determinado y están encaminados
                                a conseguir un fin.
                            </p>
                            <form id="contactform" enctype="multipart/form-data"
                                  th:action="@{/}" method="POST">
                                <ol>
                                    <li>
                                        <label for="name" th>Titulo</label>
                                        <input type="text" class="text" name="titulo" th:value="*{titulo}" placeholder="Titulo de la actividad" />
                                    </li>
                                    <li>
                                        <label for="exampleFormControlTextarea1" >Cuerpo</label>
                                        <textarea id="exampleFormControlTextarea1" name="cuerpo" th:value="*{cuerpo}" placeholder="Cuerpo"
                                                  rows="6"
                                                  cols="50"
                                                  ></textarea>
                                    </li>
                                    <li>
                                        <label for="imagen" class="form-label">Imagen</label>
                                        <input class="form-control" type="file" accept="image/*" id="imagen" name="file" />
                                    </li>
                                    <li class="buttons">
                                        <input
                                            type="submit"
                                            name="imageField"
                                            id="imageField"
                                            value="Guardar"
                                            class="send"
                                            />
                                        <div class="clr"></div>
                                    </li>
                                </ol>
                            </form>
                        </div>
                    </div>
                    <div class="right">
                        <div class="resize_bg">
                            <h2>
                                <span>Menu</span>
                            </h2>
                            <ul>
                                <li><a th:href="@{/}" class="active">Inicio</a></li>    <!-- VER -->
                                <li><a th:href="@{/perfil}">Perfil</a></li>
                                <li><a th:href="@{/nosotros}">Nosotros</a></li>
                                <li><a th:href="@{/publicar}">Publicar</a></li>
                                <li><a th:href="@{/login}" >Ingresar</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>

        </div>
    </body>
</html>
