<div class="left1" th:each="campania : ${campanias}">
        <div class="resize_bg">
            <h2 th:text="${campania.titulo}">
                <span th:text="${campania.titulo}"></span>
            </h2>
            <a th:href="@{/campania/} + ${campania.id}" >
                <img th:src="@{'data:image/jpeg;base64,'+${campania.imagen}}" alt="" width="615" height="400" />
            </a>
            <p th:text="${campania.description}" >
            </p>
            <div class="clr"></div>
            <p th:text="${campania.fechaFin}" >
            </p>
            
            <h2>&nbsp;</h2>
        </div>
</div>