<div class="header">
                <div class="headert_text_resize">
                    <div class="headert_text">
                        
                        <h2>Por nosotros, por nuestros hijos!</h2>
                        <p>
                            "No podemos darnos el lujo de la indecisión, las medidas a medias
                            o los enfoques graduales. Nuestra meta debe ser una
                            transformación"
                        </p>
                        <p>Si amas la tierra, recicla y conserva!</p>
                    </div>
                    <img  src="/img/nosotros.jpg" width="455" height="273" />
                    <div class="clr"></div>
                </div>
            </div>
