<div th:fragment="publicaciones">
    <div class="body">
                <div class="body_resize">
                    <div class="left3">
                        <div class="resize_bg">
                            <h2>Publica tu experiencia:</h2>
                            <!-- Cambiar referencias -->
                            <form id="contactform" enctype="multipart/form-data"
                                  th:action="@{/admin/comentario}" method="POST">
                                <div th:replace="/fragments/mensajes :: mensaje"></div>
                                <input type="hidden" name="id" th:value="${posteos.id}">
                                <ol>
                                    <li>
                                        <textarea id="exampleFormControlTextarea1" name="cuerpo" th:value="*{cuerpo}" placeholder="Experiencia"
                                                  rows="6"
                                                  cols="50"
                                                  ></textarea>
                                    </li>
                                    <li class="buttons">
                                        <input
                                            type="submit"
                                            name="imageField"
                                            id="imageField"
                                            value="Guardar"
                                            class="send"
                                            />
                                        <div class="clr"></div>
                                    </li>
                                </ol>
                            </form>
                        </div>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
</div>
