<header>
    <div class="main">
        <div class="header">
            <div class="header_resize">
                <div class="logo">
                    <h1>
                        <div>
                            <span>AppReCC</span>
                            Egg
                        </div>
                    </h1>
                </div>
                <div class="menu">
                    <ul>
                        <li><a th:href="@{/}" class="nav-item">Inicio</a></li>    <!-- VER SELECCION MARCADA -->
                        
                        <li><a th:href="@{/nosotros}" class="nav-item">Nosotros</a></li>
                        <li th:if="${session.usuariosession != null}"><a th:href="@{/publicar}" class="nav-item">Publicar</a></li>
                        <li th:if="${session.usuariosession == null}"><a th:href="@{/login}" class="nav-item">Ingresar</a></li>
                        <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/listar}" class="nav-item">Listar usuarios</a></li>
                        <li th:if="${session.usuariosession != null}"><a th:href="@{/perfil}" th:text=" 'Hola '+${session.usuariosession.nombre} " class="nav-item" ></a></li>
                        <li th:if="${session.usuariosession != null}"><a class="nav-item" th:href="@{/logout}">Cerrar sesion</a></li> 
                        
                    </ul>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </div>
</header>
