<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head" ></head>
    <!-- INICIO -->
    <body >

        <header th:replace= "/fragments/header :: header" ></header>
        <div class="main">
            <div th:replace="/fragments/cartel :: div"></div>
            <div th:replace="/fragments/mensajes :: mensaje"></div>
            


            <div class="body_resize">
                <table class="table table-striped table-hover text-center table-success">
                    <thead>
                        <tr class="">
                            
                            <th class="" scope="col">Titulo</th>
                            <th class="" scope="col">Cuerpo</th>
                            <th class="" scope="col">Imagen</th>
                            <th class="" scope="col">Campania</th>
                            <th class="" scope="col">Borrado</th>
                        </tr>
                    </thead>
                    <tbody class="" th:each="posteo : ${posteos}">
                        <tr>
                            
                            <th class="lista" th:text="${posteo.titulo}"></th>
                            <th class="lista" th:text="${posteo.cuerpo}"></th>
                            
                            <th class="lista"><a th:href="@{/posteos/detalle/} + ${posteo.id}"><img th:src="@{'data:image/jpeg;base64,'+${posteo.imagen}}" width="70%"></img></a></th>
                            <th class="lista" th:text="${posteo.id_campania}"></th>
                            <th class="lista" th:text="${posteo.borrado}"></th>
                        </tr>
                    </tbody>
                </table>


            </div>

        </div>
        <footer th:replace="/fragments/footer :: div"></footer>
    </body>


</html>

