<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head" ></head>
    <!-- INICIO -->
    <body >

        <header th:replace= "/fragments/header :: header" ></header>
        <div class="main">
            <div th:replace="/fragments/cartel :: div"></div>
            <div class="body_resize">
                <table class="table table-striped">
                    <thead>
                        <tr class="">
                            <th class="" scope="col">#</th>
                            <th class="" scope="col">id</th>
                            <th class="" scope="col">Nombre</th>
                            <th class="" scope="col">Email</th>
                            <th class="" scope="col">Rol</th>
                            <th class="" scope="col" colspan="2">Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="" th:each="usuarios : ${usuarios}">
                        <tr>
                            <th class="" scope="row"></th>
                            <th class="" th:text="${usuarios.id}"></th>
                            <th class="" th:text="${usuarios.nombre}"></th>
                            <th class="" th:text="${usuarios.email}"></th>
                            <th class="" th:text="${usuarios.rol}"></th>
                            <th class="btn btn-success" th:href="@{/usuario/modificar}+${usuarios.id}">Modificar</th>
                            <th class="btn btn-danger" th:href="@{/usuario/eliminar}+${usuarios.id}" >Eliminar</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
