<!DOCTYPE html>
<html 
     xmlns="http://www.w3.org/1999/xhtml" 
     xmlns:th="http://www.thymeleaf.org" 
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
     
    <head th:replace= "/fragments/head :: head" ></head>
    <body class="login-register-body">

        <main>
            <div th:replace="/fragments/mensajes :: mensaje"></div>
            <div style="text-align: center ">
                <img src="/img/mundon.png" class="login-register-imagen1" />
            </div>

            <form id="form" th:action="@{/logincheck}" method="POST" class="login-register-form">




                <div class="login-register-apprec">
                    <div>
                        <h1>
                            <span>AppReCC</span>
                        </h1>
                    </div>
                </div>

                <div class="login-register-form-control">
                    <input
                        class="login-register-letra-tamanio"
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Email"
                        />                  
                </div>
                <div class="login-register-form-control">
                    <input
                        class="login-register-letra-tamanio password-container"
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Contraseña"
                        />
                    <i class="fa-solid fa-eye" id="eye"></i>
                </div>
                <button type="submit">Log In</button>
                <a class="btn btn-secondary" th:href="@{/}">Volver</a>
                <a th:href="@{/registrar}" class="btn btn-secondary">Desea registrarse?</a>
            </form>
            <p align="center" class="mt-5 mb-3 text-muted">&copy;2022</p>
        </main>
        <script src="/js/script.js"></script>
    </body>
</html>
