<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head" ></head>
    <!-- NOSOTROS -->
    <body>
        <header th:replace= "/fragments/header :: header" ></header>
        <div class="main">
            <div th:replace="/fragments/cartel :: div"></div>
            <div class="body">
                <div class="body_resize">
                    <div class="left">
                        <div class="resize_bg">
                            <h2>
                                ¿Quienes somos?
                            </h2>
                            <nav id="navbar-example2" class="navbar bg-light px-3 mb-3">
                                <ul class="nav nav-pills">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#scrollspyHeading3">El medio ambiente</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="#scrollspyHeading4">Campañas</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="#scrollspyHeading5">Nuestra Misión</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                            <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
                                <h4 id="scrollspyHeading1">El medio ambiente</h4>
                                <p>Hoy en día es difícil negar que sentimos y sufrimos el cambio
                                    climático en nuestra vida diaria en mayor o menor medida. Olas de
                                    frío y calor, tormentas extremas, sequías, inundaciones,
                                    incendios, plagas, desertificación, pérdida de bosques, etc. ¿Por
                                    qué sucede y que debería suceder para evitar que la situación se
                                    agrave? Los principales riesgos para América Central y del Sur son
                                    la falta de acceso al agua potable, efectos sanitarios graves
                                    (debido al aumento de las epidemias), la degradación de los
                                    ecosistemas de los arrecifes de coral (debido al blanqueamiento de
                                    los corales), sequías frecuentes y/o extremas que pondrán en
                                    peligro la seguridad alimentaria y las inundaciones, los
                                    corrimientos de tierra, la subida del nivel del mar, las mareas de
                                    tempestad y la erosión costera que puede generar daños severos a
                                    la vida y a medios de subsistencia. Aunque parezca un escenario de
                                    película apocalíptica en nuestro país ya estamos sufriendo los
                                    impactos, las pérdidas y los daños que exponen los informes
                                    internacionales.</p>
                                <h4 id="scrollspyHeading2">Campañas</h4>
                                <p>Hoy en día es difícil negar que sentimos y sufrimos el cambio
                                    climático en nuestra vida diaria en mayor o menor medida. Olas de
                                    frío y calor, tormentas extremas, sequías, inundaciones,
                                    incendios, plagas, desertificación, pérdida de bosques, etc. ¿Por
                                    qué sucede y que debería suceder para evitar que la situación se
                                    agrave? Los principales riesgos para América Central y del Sur son
                                    la falta de acceso al agua potable, efectos sanitarios graves
                                    (debido al aumento de las epidemias), la degradación de los
                                    ecosistemas de los arrecifes de coral (debido al blanqueamiento de
                                    los corales), sequías frecuentes y/o extremas que pondrán en
                                    peligro la seguridad alimentaria y las inundaciones, los
                                    corrimientos de tierra, la subida del nivel del mar, las mareas de
                                    tempestad y la erosión costera que puede generar daños severos a
                                    la vida y a medios de subsistencia. Aunque parezca un escenario de
                                    película apocalíptica en nuestro país ya estamos sufriendo los
                                    impactos, las pérdidas y los daños que exponen los informes
                                    internacionales.</p>
                                <h4 id="scrollspyHeading3">Nuestra Misión</h4>
                                <p>Nuestro objetivo es informar y conectar a las personas con
                                    temáticas de relevancia social, como el reciclaje, salud física
                                    y mental, seguridad social, entre otros, a través de información
                                    real y respaldada, sin sesgo político, religioso o de cualquier
                                    otra índole. Así, lograr transformaciones que mejoren la vida de
                                    las personas, mediante el aumento progresivo de la participación
                                    ciudadana, buscando el bien común y la paz social.</p>
                            </div>

                            <h2>&nbsp;</h2>
                        </div>
                    </div>
                    <div class="right">
                        <div class="resize_bg">
                            <h2>Contactanos!</h2>
                            <ul class="sponsors">
                                <li class="sponsors"><a href="#">guztorti@gmail.com</a><br />
                                    Gustavo Torti</li>
                                <li class="sponsors"><a href="#">thomycalvente@gmail.com</a><br />
                                    Thomas Calvente</li>
                                <li class="sponsors"><a href="#">romano.ml.78@gmail.com</a><br />
                                    Laura Romano</li>
                                <li class="sponsors"><a href="#">ygbg.0511@gmail.com</a><br />
                                    Ysaac Briceño</li>
                                <li class="sponsors"><a href="#">reartes17diego@gmail.com</a><br />
                                    Diego Reartes</li>
                                <li class="sponsors"><a href="#">jpmolfesa@gmail.com</a><br />
                                    Juan Pablo Molfesa</li>
                                <li class="sponsors"><a href="#">torresmarina983@gmail.com</a><br />
                                    Marina Torres</li>
                            </ul>
                        </div>
                    </div>

                    <div class="clr"></div>
                </div>
            </div>

        </div>
        <footer th:replace="/fragments/footer :: div"></footer>
    </body>
</html>
