<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head" ></head>
    <!-- PUBLICAR -->
    <body>
        <header th:replace= "/fragments/header :: header" ></header>
        <div class="main">
            <div th:replace="/fragments/cartel :: div"></div>
            <div class="body">
                <div class="body_resize">
                    <div class="left">
                        <div class="resize_bg">
                            <h2>Perfil:</h2>
                            <form action="#" method="post" id="contactform">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Nombre:</td>
                                            <td> <input id="name" th:value="*{session.usuariosession.nombre}"/></td>
                                            <td><input
                                                    type="submit"
                                                    name="imageField"
                                                    id="imageField"
                                                    value="Guardar"
                                                    class="send"
                                                    /></td>
                                        </tr>
                                        <tr>
                                            <td>Email:</td>
                                            <td><input id="email" th:value="*{session.usuariosession.email}"/></td>
                                            <td><input
                                                    type="submit"
                                                    name="imageField"
                                                    id="imageField"
                                                    value="Guardar"
                                                    class="send"
                                                    /></td>
                                        </tr>
                                        <tr>
                                            <td>Foto:</td>
                                            <td><img  src="/img/mundon.png" width="200" height="250" /></td>
                                            <td><input
                                                    type="submit"
                                                    name="imageField"
                                                    id="imageField"
                                                    value="Guardar"
                                                    class="send"
                                                    /></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="clr"></div>
                            </form>
                        </div>
                    </div>
                    <div class="right">
                        <div class="resize_bg">
                            <h2>
                                <span>Menu</span>
                            </h2>
                            <ul>
                                <li><a th:href="@{/}" class="nav-item">Inicio</a></li>    <!-- VER SELECCION MARCADA -->

                                <li><a th:href="@{/nosotros}" class="nav-item">Nosotros</a></li>
                                <li th:if="${session.usuariosession == null}"><a th:href="@{/login}" class="nav-item">Ingresar</a></li>
                                <li th:if="${session.usuariosession != null}" class="nav-item dropdown">
                                    <a th:text=" 'Hola '+${session.usuariosession.nombre} " class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" th:href="@{/publicar}">Publicar</a>
                                        <a class="dropdown-item" th:href="@{/perfil}">Perfil</a>
                                        <a class="dropdown-item" th:href="@{/logout}">Cerrar Sesión</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right">
                        <div class="resize_bg">
                            <h2>
                                <span>Tablas:</span>
                            </h2>
                            <ul>
                                <li><a th:href="@{/listar}">Listar Usuarios</a></li>    <!-- VER -->
                                <li><a th:href="@{/inicio/listarCampanias}">Listar Campañas</a></li>
                                <li><a th:href="@{/inicio/listarPosteos}">Listar Posteos</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
        </div>
        <footer th:replace="/fragments/footer :: div"></footer>
    </body>
</html>
