<html  
     xmlns="http://www.w3.org/1999/xhtml" 
     xmlns:th="http://www.thymeleaf.org" 
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
     
     <head th:replace= "/fragments/head :: head" ></head>
    <!-- PUBLICAR -->
    <body>
        <header th:replace= "/fragments/header :: header" ></header>
        <div class="main">
            <div th:replace="/fragments/cartel :: div"></div>
            <div class="body">
                <div class="body_resize">
                    <div class="left3">
                        <div class="resize_bg">
                            
                            <p>
                                Publique su Experiencia:
                            </p>
                            <form id="contactform" enctype="multipart/form-data"
                                  th:action="@{/posteos}" method="POST">
                                 <input type="hidden" name="id" th:value="${campania.id}"></input>
                                <div th:replace="/fragments/mensajes :: mensaje"></div>
                                <ol>
                                    <li>
                                        <label for="name">Titulo</label>
                                        <input type="text" class="text" name="titulo" th:value="*{titulo}" placeholder="Titulo de la actividad" />
                                    </li>
                                    <li>
                                        <label for="exampleFormControlTextarea1" >Cuerpo</label>
                                        <textarea id="exampleFormControlTextarea1" name="cuerpo" th:value="*{cuerpo}" placeholder="Cuerpo"
                                                  rows="6"
                                                  cols="50"
                                                  ></textarea>
                                    </li>
                                      
                                    <li>
                                        <label for="imagen" class="form-label">Imagen</label>
                                        <input class="form-control" type="file" accept="image/*" id="imagen" name="file" />
                                    </li>
                                    <li class="buttons">


                                        <input
                                            type="submit"
                                            name="imageField"
                                            id="imageField"
                                            value="Guardar"
                                            class="send"
                                            />
                                        <div class="clr"></div>
                                    </li>
                                </ol>
                                <div class="flex-fill">
                                        <select>
                                            <option th:each="campania : ${campanias}"
                                                    th:value="${campania.id}"
                                                    th:text="${campania.titulo}"
                                                    th:selected="false"
                                                    />
                                        </select>
                                    </div>
                            </form>
                        </div>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
        </div>
        <footer th:replace="/fragments/footer :: div"></footer>
    </body>
</html>
